@import 'variables';

.content {
  padding: 0 @base-padding;
}

li {
  margin: @base-margin;
}

.year {
  vertical-align: top;
  display: inline-block;
  height: 50px;
  width: 8%;
}

.school {
  display: inline-block;
  width: 91%;
  box-sizing: border-box;
  padding: 0 @base-padding;
  background-color: @background;
}
