@import 'variables';

img {
  border-radius: 50%;
  display: inline-block;
  .image-size;
}

header {
  text-align: center;
  border-bottom: 2px solid @gray-border-color;
  margin: -85px auto 0 auto;
}
