body {
    background-color: darkgray;
    padding: 120px 150px;
}

.container {
    background-color: white;
    padding: 20px;
}

img {
    border-radius: 50%;
    float: left;
    margin: -130px 0 0 420px;
}

header>h1, header>h2 {
    clear: left;
    text-align: center;
    text-transform: uppercase;
}

main {
    padding: 20px;
}

.single {
    margin: 30px 0;
}

.year {
    vertical-align: top;
    display: inline-block;
    height: 50px;
}

.school {
    display: inline-block;
    width: 90%;
    margin-left: 30px;
    padding: 0 10px;
    background-color: darkgray;
}


